<div class="row weather" v-model="getInfo">
	<div class="col-lg-1">
	Погода
	</div>
	<div class="col-lg-1">
	 {{info.city}}
	</div>
	<div class="col-lg-3">
	 Температура: {{info.temperature}} 
	</div>
	<div class="col-lg-5">
	 {{info.wind}}
	</div>

	<div class="col-lg-2"> 
		<script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script. :src="//telegram.im/widget-button/index.php?id=account.telegram";document.getElementsByTagName("head")[0].appendChild(script);})();</script>
			<a href="https://telegram.im/@nvkot_bot" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:109px; background:#27A5E7;box-shadow:1px 1px 1px #27A5E7;color:#FFFFFF;border-radius:1px;" title=""><i></i>Telegram bot</a>
	</div>
</div>