<div class="homework">
  <form id="formedit" method="post">
      <div class="position-relative form-group">
        <label for="name" class="">Имя:</label>
        <input v-model="data.name" name="name" id="name" placeholder="Имя" type="text" class="form-control">
      </div>

      <div class="position-relative form-group">
        <label for="lesson" class="">Урок</label>
        {{data.lesson}}
      </div>

      <div class="position-relative form-group">
        <label for="text" class="">Содержание</label>
        <input v-model="data.text" name="" id="text" placeholder="Имя" type="text" class="form-control">

      </div>

  </form>
  <button v-on:click="saveForm" class="mt-1 btn btn-primary">Сохранить</button>
</div>
