$width: 100 px;

dev {
	padding: $width;
	background-color:green;
}

.width67 {
	width: 100px;
}

.width497 {
	width: 300px;
	padding-left: 10px;
}

.width94 {
	width: 300px;
	padding: 10px;
}

p {
	

    font-family: 'Self';

	font-size: 14pt;
}
h1{
	font-size: 16pt;
}

.profile_img {
	width:200px;
	height:200px;
}

li.telegram {
	padding-top:10px;
}

.contact {
	padding-left:50px;
}

.rolik {
	padding-top:20px;
}
.title_youtube{
	font-size: 18pt;
}