<div class="contact">
    <h1 class="justify-content-center">{{data.title}}</h1>
    <img class="profile_img" v-bind:src="data.avatar">
    <ul class="contact_info">
      <li>Фамилия: {{data.last_name}}</li>
      <li>Имя: {{data.first_name}}</li>
      <li>Отчество: {{data.patronymic}}</li>
      <li>Телефон: {{data.phone}}</li>
      <li>email: {{data.email}}</li>
      <li>Skype: {{data.skype}}</li>
      <li><a target="_blank" :href=data.url_facebook>Facebook</a> </li>
      <li><a target="_blank" :href=data.url_vk>VK</a></li>
    </ul>
    <button v-on:click="toEdit" class="mt-1 btn btn-primary">Редактировать профиль</button>
</div>
